.main-div {
  margin-top: 55px;
  margin-top: none;
  display: flex;
  height: 130vh;
  flex-direction: row;
  background-color: #f4f4f4;
}

.user-details {
  width: 25%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #ffffff;
  border-right: 2px solid #ddd;
}

.user-details p {
  margin: 10px 0;
}

.home {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  padding: 20px;
  box-sizing: border-box;
}

.step-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-width: 600px;
  margin-bottom: 20px;
}

.table {
  border-spacing: 0 15px;
  border-collapse: separate;
}

.st-item {
  width: 100%;
  max-width: 600px;
  margin-bottom: 20px;
}

.inp-data{
  width: 100%;
  padding: 5px;
  border: solid black 1px;
}

.navigation-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.navigation-buttons button{
  padding: 8px;
  width: 100px;
  border-radius: 10px;
  border: none;
}

.navigation-buttons :first-child{
  background-color: rgb(189 125 195);
  color: white;
  width: 140px;
}

.navigation-buttons :last-child{
  background-color: blue;
  color: white;
  width: 140px;
}

.back-but{
  border: none;
  border-radius: 10px;
  width: 100px;
  padding: 10px;
  background-color: red;
  color: white;
}

.submit-but{
  background-color: blue;
  color: white;
  border: none;
  border-radius: 10px;
  width: 100px;
  padding: 10px;
}

.submit-but:hover{
  background-color: rgb(8, 25, 182);
}

.back-but:hover{
  background-color: rgb(161, 6, 6);
}

.navigation-buttons :first-child:hover{
  background-color: rgb(123, 116, 123);
}

.navigation-buttons :last-child:hover{
  background-color: rgb(87, 178, 235);
}


@media only screen and (max-width: 668px) {
  .main-div {
    flex-direction: column;
    height: 100%;
  }

  .user-details {
    width: 100%;
    border-right: none;
    border-bottom: 2px solid #ddd;
  }

  .home {
    width: 100%;
  }

  .step-content {
    max-width: 100%;
  }
}
